@use "src/Styles/_vars.scss" as c;

.recipe__form {
  .ingredients {
    .ingredient {
      display: flex;
      position: relative;
      input,
      .p-dropdown {
        margin: 0.25rem;
      }
      .bin {
        cursor: pointer;
        color: c.$main-color;
        @include c.square(1.5rem);
        align-self: center;
      }
      .move_ing {
        cursor: pointer;
        align-self: center;
        font-size: 1.5rem;
      }
    }
  }
}

.p-autocomplete-panel {
  .p-autocomplete-items {
    text-align: left;
    .p-autocomplete-item:hover {
      color: white !important;
      background-color: c.$bandeau !important;
    }
  }
}
