@use "src/Styles/_vars.scss" as c;

.accueil {
  &_connected {
    .home__banner {
      font-family: "Dilgante Rocks", sans-serif;
      position: relative;
      height: 600px;
      img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        filter: brightness(70%);
      }
      div {
        width: 90%;
        position: absolute;
        color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        h1 {
          margin-top: 0;
          margin-bottom: 1rem;
          font-weight: bold;
          font-size: 4rem;
          text-transform: uppercase;
        }
        span {
          font-size: 1.5rem;
        }
      }
    }
    .home__redirect__block {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 500px;
      &.reverse {
        flex-direction: row-reverse;
      }
      img {
        margin: 0 5rem;
        border-radius: 10px;
        height: 350px;
        width: 70%;
        object-fit: cover;
      }
      &__text {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 3rem;
        width: 50%;
        span {
          width: 90%;
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
        }
      }
    }
    .top__recipes {
      background-color: white;
      h1 {
        font-family: "Dilgante Rocks", sans-serif;
        margin: 0;
        padding: 3rem 0;
        font-size: 3rem;
      }
      &__recipes {
        padding-bottom: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
        justify-content: center;
        gap: 0rem 3rem;
        .recipeCard {
          box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
          &:hover {
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
          }
        }
      }
    }
  }
}

.login_container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  &_box {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: c.$fond-page;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    &_title {
      color: c.$main-color;
      margin-bottom: 3rem;
    }
    &_buttons {
      display: flex;
      flex-direction: column;
      button {
        width: 12rem;
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 1000px) {
  .accueil_connected {
    .home__redirect__block {
      &__text,
      img {
        margin: 0 2rem !important;
      }
    }
  }
}

@media (max-width: 700px) {
  .login_container_box {
    margin: 0 1rem;
  }
}

@media (max-width: 650px) {
  .accueil_connected {
    .home__banner {
      div {
        h1 {
          font-size: 3rem !important;
        }
        span {
          font-size: 1rem;
        }
      }
    }
    .home__redirect__block {
      flex-direction: column !important;
      &__text {
        width: 100%;
        span {
          font-size: 1.2rem !important;
        }
      }
      img {
        width: 90%;
        height: 200px;
        margin-bottom: 2rem !important;
      }
    }
  }
}
