@use "src/Styles/_vars.scss" as c;

.modal-bug {
  width: 700px !important;
  .bug__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
    &__field {
      width: 70%;
      margin-bottom: 2rem;
      h4 {
        margin: 0.5rem 0;
      }
      .p-inputtextarea,
      .p-inputtext {
        width: 100%;
      }
      &.file {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

.success_view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .success_message {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 2rem 0;
  }
  .chosen_check {
    width: 5rem;
    height: 5rem;
    color: green;
  }
}

@media (max-width: 730px) {
  .modal-bug {
    width: 95% !important;
    .bug__form__field {
      width: 100%;
    }
  }
}
