@use "src/Styles/_vars.scss" as c;

.recipe__form {
  .steps {
    width: 600px;
    .step {
      display: flex;
      width: 100%;
      position: relative;
      .bin {
        position: absolute;
        cursor: pointer;
        right: -3rem;
        color: c.$main-color;
        @include c.square(1.5rem);
        align-self: center;
      }
      .p-inputtextarea {
        margin: 1rem 0;
        width: 100%;
      }
    }
  }
}
