@use "src/Styles/_vars.scss" as c;

.shoppingList_container_export_recipes_recipe {
  border-radius: 10px;
  background-color: white;
  margin: 1rem 0;
  display: flex;
  height: 12rem;
  img {
    border-radius: 10px 0 0 10px;
    width: 19rem;
    height: 12rem;
    object-fit: cover;
  }
  .infos {
    @include c.flexCol;
    padding: 2rem 1.5rem;
    flex-grow: 1;
    justify-content: space-between;
    &_top {
      @include c.flexAlign;
      justify-content: space-between;
      &_title {
        font-size: 1.2rem;
        font-weight: bold;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        height: fit-content;
        text-align: left;
        max-width: 70%;
      }
    }
    &_bottom {
      @include c.flexAlign;
      justify-content: space-between;
      &_left {
        @include c.flexCol;
        text-align: start;
        span {
          @include c.flexAlign;
          padding: 0.125rem;
          svg {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
