@use "src/Styles/_vars.scss" as c;

.param__form {
  margin: 2rem;
  @include c.flexCenterCol;
  .param_profile_picture {
    width: 15rem;
    height: 10rem;
    overflow: hidden;
    @include c.flexCenter;
    margin: 0.5rem;
    border-radius: 5px;
    img {
      height: 100%;
    }
  }
  .bouton {
    width: 10rem;
    align-self: center;
    margin-top: 2rem;
  }
  &__field {
    @include c.flexAlignCol;
    margin-bottom: 1rem;
    h4 {
      margin-bottom: 0.5rem;
    }
    .p-inputtext {
      width: 15rem;
    }
    .p-fileupload-buttonbar {
      min-width: 15rem;
      border: 1px solid #dee2e6 !important;
      border-radius: 6px;
    }
  }
}
