.nav-active {
  position: relative;
}
.nav-active::after {
  content: "";
  height: 4px;
  width: 0;
  background: #e86a33;
  position: absolute;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  animation: anim 0.6s ease forwards;
}
@keyframes anim {
  to {
    width: 100%;
  }
}

.equal {
  border: 1px solid green;
  border-radius: 6px;
}
.equal input:hover,
.equal input:focus {
  border: 1px solid green;
  box-shadow: none;
}

.nonequal {
  border: 1px solid red;
  border-radius: 6px;
}
.nonequal input:hover,
.nonequal input:focus {
  border: 1px solid red;
  box-shadow: none;
}

.cardHover {
  transition-duration: 0.2s;
  background-color: white;
}
.cardHover:hover {
  transform: scale(1.01);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
}

.searchbar .p-multiselect,
.searchbar .p-dropdown,
.searchbar .p-inputtext {
  width: 11rem;
  text-align: left;
}
.searchbar .p-multiselect-label,
.searchbar .p-dropdown-label,
.searchbar .p-inputtext-label {
  padding: 0.75rem !important;
}

.searchbar .p-multiselect:focus,
.searchbar .p-dropdown:focus,
.searchbar .p-inputtext:focus,
.searchbar .p-multiselect.p-focus,
.searchbar .p-dropdown.p-focus,
.searchbar .p-inputtext.p-focus {
  box-shadow: none !important;
}

.searchbar .p-inputtext.p-component::placeholder {
  color: #6c757d;
  opacity: 1;
}

.reset path {
  stroke: #e86a33;
}

.p-checkbox,
.p-checkbox-box {
  width: 18px !important;
  height: 18px !important;
}

@media (min-width: 1100px) {
  .searchbar .p-multiselect,
  .searchbar .p-dropdown,
  .searchbar .p-inputtext {
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-radius: 0px !important;
  }
}