@use "src/Styles/_vars.scss" as c;

.searchbar {
  .p-multiselect,
  .p-dropdown,
  .p-inputtext {
    width: 11rem;
    text-align: left;
    &-label {
      padding: 0.75rem !important;
    }
    &:focus,
    &.p-focus {
      box-shadow: none !important;
    }
  }
  .reset path {
    stroke: c.$bandeau;
  }
}

@media (min-width: 1100px) {
  .searchbar {
    .p-multiselect,
    .p-dropdown,
    .p-inputtext {
      border-right-width: 0px !important;
      border-top-width: 0px !important;
      border-left-width: 0px !important;
      border-radius: 0px !important;
    }
  }
}
