@use "src/Styles/_vars.scss" as c;

.skeleton {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-bottom: 2rem;
  .sub-skeleton {
    display: flex;
    align-items: center;
  }
  .center {
    align-self: center;
  }
  .bottom {
    margin-top: 4rem !important;
  }
  .noMargin {
    margin: 0 !important;
  }
  .p-skeleton {
    margin: 0.6rem;
    background-color: #dcdedf;
  }
}
