@use "src/Styles/_vars.scss" as c;

.menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
  gap: 3rem;
  a {
    text-decoration: none;

    li {
      color: c.$main-color;
      transition: 0.2s;
      cursor: pointer;
      font-size: 1.4rem;
    }
  }
  .nav-active {
    position: relative;

    &::after {
      content: "";
      height: 4px;
      width: 0;
      background: c.$bandeau;
      position: absolute;
      border-radius: 10px;
      left: 50%;
      transform: translateX(-50%);
      animation: anim 0.6s ease forwards;
      @keyframes anim {
        to {
          width: 100%;
        }
      }
    }
  }

  &.desktop {
    height: 3rem;
    margin: 0rem;
  }
  &.mobile {
    position: absolute;
    width: 13rem;
    z-index: 1001;
    background-color: white;
    border-radius: 6px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
    align-items: flex-start;
    gap: 0.75rem !important;
    a,
    li {
      font-size: 1.1rem !important;
      width: fit-content;
    }
    &.visible {
      visibility: visible;
      opacity: 1;
      max-height: 50rem;
    }
    &.hidden {
      visibility: hidden;
      opacity: 0;
      max-height: 0;
    }
  }
}
