@use "src/Styles/_vars.scss" as c;

.cardHover {
  transition-duration: 0.2s;
  background-color: c.$blanc;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  }
}
.recipeCard {
  min-height: 95.5%;
  border-radius: 0.33rem;
  margin-bottom: 2rem;
  width: 20rem;

  .detail {
    position: absolute;
  }

  &__top {
    &__categorie {
      font-size: c.$font-size-normal;
      font-weight: 700;
      color: c.$gris-picto;
      position: relative;
      display: flex;
      justify-content: flex-end;
      .etiquette {
        position: absolute;
        margin-top: 1rem;
        margin-right: 2rem;
        padding: 0.2rem 2rem;
        background-color: c.$fond-page-clair;
        color: grey;
        border-radius: 5px;
      }
    }
    &__image {
      cursor: pointer;
      height: 12rem;
      img {
        width: 100%;
        height: 12rem;
        object-fit: cover;
        font-weight: 700;
        border-top-left-radius: 0.33rem;
        border-top-right-radius: 0.33rem;
      }
    }
  }
  &__corps {
    @include c.flexCol;
    height: 15.5rem;
    padding: 1rem 1rem 0 1rem;
    align-items: flex-start;
    &__author {
      font-size: 0.8rem;
      @include c.flexAlign;
      .creatorPP,
      .cooker {
        @include c.square(1.5rem);
        border-radius: 50%;
        margin-right: 0.5rem;
        object-fit: cover;
      }
    }
    &__title {
      cursor: pointer;
      align-self: center;
      color: c.$main-color;
      margin: 1.5rem 0.5rem;
      font-size: 1.5rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
    &__time,
    &__number,
    &__regime {
      span {
        @include c.flexAlign;
        svg {
          margin: 0 0.5rem;
        }
      }
    }
  }
  &__bottom {
    @include c.flexAlign;
    justify-content: space-around;
    padding: 0.5rem 1rem 1rem 1rem;
    &__edit,
    &__fav,
    &__delete {
      cursor: pointer;
      svg {
        color: c.$main-color;
        @include c.square(2rem);
      }
    }
    &__fav svg {
      color: c.$bandeau;
    }
  }
}

.recipe_delete_modal {
  &_question {
    margin: 2rem 0;
  }
  &_buttons {
    @include c.flexJustify;
    button {
      margin-right: 1rem;
    }
  }
}
@media (max-width: 900px) {
  .recipeCard {
    min-height: unset;
  }
  .modify_recipe_modal {
    max-width: 90%;
    .p-dialog {
      &-content {
        padding: 0 0 2rem 0 !important;
        .recipe__form {
          margin: 1rem;
          &__field {
            align-items: flex-start;
            .p-fileupload-buttonbar {
              padding: 0.25rem !important;
            }
            .checkboxes {
              flex-wrap: wrap;
            }
            .step {
              width: 100%;
            }
            .ingredients {
              input,
              .p-dropdown {
                margin: 0.5rem;
              }
              .p-inputtext {
                width: 4rem;
              }
              .ingredient_name {
                .p-inputtext {
                  width: 6rem !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
