@use "src/Styles/_vars.scss" as c;

.p-sidebar {
  &-header {
    padding: 0.5rem 1rem !important;
    background-color: c.$main-color;
    .p-sidebar-close {
      color: white !important;
      &:hover {
        color: c.$main-color !important;
      }
    }
  }
  &-content {
    padding: 0 0 1.25rem 0 !important;
  }
}

@media (max-width: 900px) {
  .p-sidebar {
    width: 95% !important;
  }
}
