@use "src/Styles/_vars.scss" as c;

.navigation {
  font-family: "Dilgante Rocks", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  button {
    font-family: "Dilgante Rocks", sans-serif;
  }
  &_parameters {
    cursor: pointer;
    position: relative;
    display: flex;
    img {
      object-fit: cover;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
    .cooker {
      width: 3rem;
      height: 3rem;
      color: c.$main-color;
    }
    &:hover {
      .navigation_parameters_menu {
        display: flex;
        flex-direction: column;
      }
    }
    &_menu {
      position: absolute;
      right: -3.5rem;
      top: 3rem;
      width: 10rem;
      display: none;
      background-color: white;
      color: c.$main-color;
      border-radius: 10px;
      z-index: 1001;
      &.visible {
        display: flex;
        flex-direction: column;
      }
      span {
        border-radius: 10px;
        padding: 0.5rem;
        font-size: 1.1rem;
        &:hover {
          background: c.$bandeau;
          color: white;
        }
      }
    }
  }
  .navigation__mobile {
    width: 10rem;
    position: relative;
    &__header {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 1rem 1rem 0.5rem 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
      .pi.pi-bars {
        margin-right: 0.25rem;
      }
    }
  }
}

@media (max-width: 700px) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 1rem 2rem;
    button {
      width: 12rem;
      margin: 0.5rem 0rem;
    }
    &_parameters {
      position: absolute;
      top: 0;
      right: 2rem;
      margin-top: 0.75rem;
    }
  }
}
