@use "src/Styles/_vars.scss" as c;

.shoppingList_container {
  margin: 5% auto;
  @include c.flexCenter;
  &_export {
    @include c.flexCol;
    width: 60%;
    &_recipes {
      @include c.flexCol;
    }
    .bouton {
      align-self: center;
    }
    &_top {
      @include c.flexJustify;
      .bouton {
        height: 2rem;
        margin-left: 1rem;
        svg {
          font-weight: bold;
        }
      }
    }
  }
  &_home {
    width: 40rem;
    height: 25rem;
    margin: 5rem 0;
    @include c.flexCenter;
    position: relative;
    img {
      position: absolute;
      border-radius: 10px;
      @include c.square(100%);
      object-fit: cover;
    }
    .bouton {
      color: white !important;
      font-size: 1.2rem;
      &:hover {
        border: 1px solid white !important;
      }
      &::after {
        background-color: c.$main-color !important;
      }
    }
  }
}

.choose_recipe {
  width: 100% !important;
  .p-dialog-content {
    padding-bottom: 4rem !important;
    background-color: c.$fond-page !important;
    @include c.flexAlignCol;
    .recipeContainer {
      width: 100%;
    }
    .bouton {
      margin-top: 3rem;
      padding: 1.5rem;
      &::after {
        background-color: c.$fond-page;
      }
    }
  }
}

.recipeCard.cardHover.chosen {
  border: 5px solid green;
  position: relative;
  .chosen_check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include c.square(5rem);
    color: green;
  }
}

.modal_liste_courses {
  @include c.flexAlignCol;
  .bouton {
    margin-top: 1rem;
    &.copied {
      border-color: green;
      color: white;
      background-color: green;
    }
  }
  .p-inputtextarea {
    resize: vertical;
  }
}

@media (max-width: 950px) {
  .shoppingList_container {
    justify-content: flex-start;
    &_export {
      margin: 0 0.5rem;
      width: 100%;
      &_recipes {
        align-items: center;
        &_recipe {
          width: 20rem;
          flex-direction: column;
          height: unset !important;
          img {
            border-radius: 10px 10px 0 0 !important;
            width: 100% !important;
            height: 16rem !important;
          }
          .infos {
            padding: 1.5rem !important;
            &_top {
              margin: 0.5rem 0 2rem 0;
              flex-direction: column;
              &_title {
                -webkit-line-clamp: 2 !important;
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .choose_recipe {
    .recipeCard {
      width: 18rem;
    }
  }
  .modal_liste_courses_modal {
    width: 90% !important;
  }
  .shoppingList_container_export_top {
    flex-direction: column;
  }
}
