@use "src/Styles/_vars.scss" as c;

.cardDetail_container {
  @include c.flexCenterCol;
  font-size: 1.1rem;
  white-space: pre-line;
  &_image {
    width: 90%;
    height: 25rem;
    overflow: hidden;
    @include c.flexCenter;
    border-radius: 10px;
    margin: 2rem;
    img {
      width: 100%;
    }
  }
  &_title {
    @include c.flexAlign;
    font-size: 3rem;
    width: 90%;
    .recipeCard__bottom__edit {
      margin-left: 2rem;
    }
  }
  &_group {
    display: flex;
    div {
      margin: 1rem;
      @include c.flexAlign;
      font-weight: bold;
      svg {
        margin-right: 0.25rem;
      }
    }
  }
  &_author {
    @include c.flexAlign;
    margin-bottom: 1rem;
    img {
      @include c.square(1.5rem);
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }
  &_ingredients,
  &_step {
    margin-left: 2rem;
  }
  &_ingredients {
    background-color: c.$fond-page;
    width: 90%;
    border-radius: 10px;
    margin: 2rem 0 4rem 0;
    padding: 2rem;
    h2 {
      width: 100%;
      margin-top: 0;
      margin-bottom: 2rem;
    }
    .cardDetail_container_ingredient {
      margin: 0.5rem;
      margin-left: 2rem;
      font-size: 1.2rem;
      text-align: left;
    }
  }
  &_block {
    @include c.flexAlignCol;
    margin-bottom: 2rem;
    width: 100%;
    &_step {
      align-self: center;
      background-color: c.$fond-page;
      padding: 1rem;
      margin: 0.5rem 0;
      width: 70%;
      border-radius: 10px;
      text-align: left;
    }
    .p-divider {
      width: 50%;
      margin: 0.75rem 0;
      &:before {
        border-top-color: c.$bandeau !important;
      }
    }
    &_index {
      @include c.flexCenter;
      font-size: 2rem;
      @include c.square(4rem);
      border: 2px solid c.$bandeau;
      border-radius: 50%;
      font-weight: bold;
      color: c.$bandeau;
    }
  }
}

@media (max-width: 900px) {
  .cardDetail_container {
    &_group {
      flex-direction: column;
      align-self: flex-start;
      margin-left: 2rem;
    }
    &_title {
      font-size: 2rem;
      flex-direction: column;
      .recipeCard__bottom__edit {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
    &_ingredients {
      padding: 1rem;
    }
    &_block_step {
      width: 90%;
    }
  }
}
