@import url("https://fonts.cdnfonts.com/css/dilgante-rocks");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: #e86a33;

    --card: 0 0% 100%;
    --card-foreground: #e86a33;

    --popover: 0 0% 100%;
    --popover-foreground: #e86a33;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: #e86a33;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #f4f1ef;
  color: #263a29;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.reset path {
  stroke: #e86a33;
}

/* Primeract custom style */
.searchbar .p-multiselect,
.searchbar .p-dropdown,
.searchbar .p-inputtext {
  width: 11rem;
  text-align: left;
}
.searchbar .p-multiselect-label,
.searchbar .p-dropdown-label,
.searchbar .p-inputtext-label {
  padding: 0.75rem !important;
}

.searchbar .p-multiselect:focus,
.searchbar .p-dropdown:focus,
.searchbar .p-inputtext:focus,
.searchbar .p-multiselect.p-focus,
.searchbar .p-dropdown.p-focus,
.searchbar .p-inputtext.p-focus {
  box-shadow: none !important;
}

.searchbar .p-inputtext.p-component::placeholder {
  color: #6c757d;
  opacity: 1;
}

.p-checkbox,
.p-checkbox-box {
  width: 18px !important;
  height: 18px !important;
}

@media (min-width: 1100px) {
  .searchbar .p-multiselect,
  .searchbar .p-dropdown,
  .searchbar .p-inputtext {
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-radius: 0px !important;
  }
}