@use "src/Styles/_vars.scss" as c;

.HF {
  &__container {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    &__search {
      display: flex;
      gap: 1rem;
      position: relative;
      .p-inputtext {
        padding-left: 2rem;
      }
      .pi.pi-search {
        position: absolute;
        color: c.$gris-picto;
        left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      .loaderContainer {
        margin: 6rem 0;
      }
      .empty {
        margin: 10rem 0;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}
